#contact-form {
    border: 1px solid green;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#contact-form input, #contact-form textarea {
    border: 1px solid orange;
    width: 95%;
}

#contact-form input[type='submit'] {
    border: 1px solid seagreen;
    height: 3rem;
}

label {
    align-self: flex-start;
    margin-inline-start: 5%;
}

/* alert box */
.alert-box {
    border: 1px solid blue;
    height: 3rem;
    width: 95%;
}

.red {
    color: red;
}

.fade-out {
    animation: fade 4s linear forwards;
}

@keyframes fade {
    0% {opacity: 1;}
    80% {opacity: 0.7}
    100% {opacity: 0;}
}