@media (min-width: 1280px) {
    .skills-section .card-section {
        /* border: 1px solid aliceblue; */
        display: flex;
        flex-wrap: wrap;
        padding: 4em;
        justify-content: center;
        width: 100%;
        margin-inline-start: -6%;
    }
}
/* --------------------------------------end desktop---------------- */
/* ---------------------------------------------------------------- */
/* --------------------------------------mobile------------------- */

@media (min-width: 880px) and (max-width: 1280px) {
    .skills-section .card-section {
        /* border: 1px solid aliceblue; */
        display: flex;
        flex-wrap: wrap;
        padding: 2em;
        justify-content: center;
        width: inherit;

        margin-inline-start: -2%;
    }
}
/* --------------------------------------end mid---------------- */
/* ---------------------------------------------------------------- */
/* --------------------------------------mobile------------------- */

@media (max-width: 880px) {
    .skills-section .card-section {
        /* border: 1px solid aliceblue; */
        display: flex;
        flex-wrap: wrap;
        padding: 0.5em;
        justify-content: center;

        margin-inline-start: -3%;
    }
}
    

/* --------------------------------------end mobile---------------- */
/* ---------------------------------------------------------------- */

@media (max-width: 680px) {
    .skills-section .card-section {
        /* border: 1px solid aliceblue; */
        display: flex;
        flex-wrap: wrap;
        padding: 0.1em;
        justify-content: center;

        margin-inline-start: -2%;
    }
}