@media (min-width: 1280px) {
    .card-section {
        margin-left: unset;
        width: 98%;
        display: flex; 
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .card {
        font-size: unset;
        border: 1px solid rgba(98, 155, 241, 0.363); 
        border-radius: 1vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 22%;
        height: 24.5vh;
        margin-inline-start: 2%;
        margin-block-end: 2.5%;
        gap:3%;
        box-shadow: 0 0.5vw 1vw rgba(128, 128, 128, 0.678);
        background: linear-gradient(to bottom, rgba(168, 170, 221, 0.250) 0%,rgba(168, 170, 221, 0.100) 100%);
    }

    .card-first-child {
    /* border: 1px solid green; */
    font-weight: 600;
    font-size: 120%;
    letter-spacing: 0.1vw;
    width: 90%;
}

    .card-second-child {
        display: unset;
        /* border: 1px solid red; */
        color:gray;
    }

    /* per scholas logo */

.per-scholas-logo {
    position: absolute;
    z-index: -1;
    top:-2%;
    right: 1%;
    /* border: solid blue; */
    width: 65%;
    
}

.per-scholas-logo::after {
    content: '';
    display: block; 
    width: 0.4rem; 
    height: 0.4rem; 
    background-color: goldenrod;
    aspect-ratio: 1;
    clip-path: polygon(93.38% 74.87%,63.58% 69.79%,
    57.6% 99.42%,42.99% 72.95%,16.1% 86.75%,27.69% 58.83%,
    0.13% 46.41%,29.18% 38.06%,21.71% 8.77%,46.35% 26.28%,
    64.59% 2.18%,66.27% 32.36%,96.49% 31.59%,73.94% 51.72%);
    background-size: cover; 
    position: absolute; 
    bottom: 28%;
    left: 30%; 
    animation: shine 5s ease infinite;
}

.per-scholas-logo::before {
    content: '';
    display: block; 
    width: 1.8rem; 
    height: 1.8rem; 
    background-color: goldenrod;
    aspect-ratio: 1;
    clip-path: polygon(93.38% 74.87%,63.58% 69.79%,
    57.6% 99.42%,42.99% 72.95%,16.1% 86.75%,27.69% 58.83%,
    0.13% 46.41%,29.18% 38.06%,21.71% 8.77%,46.35% 26.28%,
    64.59% 2.18%,66.27% 32.36%,96.49% 31.59%,73.94% 51.72%);
    /* background-image: url('https://i.pinimg.com/originals/68/8e/9e/688e9eb45c2f5cc82361d5c305ccc0ca.gif'); */
    /* background-image: url('https://media3.giphy.com/media/Gok1M91CjzNllPzRkT/giphy.gif?cid=6c09b952x2twaibjz4ahsqk17e44i5306ouljxj8spb3gw9p&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=s'); */
    background-size: cover; 
    position: absolute; 
    top: 28%;
    right: 30%; 
    animation: shine 5s ease infinite;
}
}
/* --------------------------------------end desktop---------------- */

/* ---------------------------------------------------------------- */
/* --------------------------------------mid------------------- */

@media (min-width: 880px) and (max-width: 1280px) {
    .card-section {
        margin-left: unset;
        width: 98%;
        display: flex; 
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .card {
        font-size: 1.7rem;
        border: 1px solid rgba(98, 155, 241, 0.363); 
        border-radius: 1vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 30%;
        height: 20.5vh;
        /* maintain height relative to the width */
        /* min-height: calc((30 / 22) * 100%); */
        margin-inline-start: 2.5%;
        margin-block-end: 3.5%;
        gap:3%;
        box-shadow: 0 0.5vw 1vw rgba(128, 128, 128, 0.678);
        background: linear-gradient(to bottom, rgba(168, 170, 221, 0.250) 0%,rgba(168, 170, 221, 0.100) 100%);
    }

.card-first-child {
    /* border: 1px solid green; */
    font-weight: 600;
    font-size: 120%;
    letter-spacing: 0.1vw;
    width: 90%;
}

.card-second-child {
    display: unset;
     /* border: 1px solid red; */
     color: gray;
}

/* per scholas logo */       
.per-scholas-logo {
    position: absolute;
    z-index: -1;
    top:-5%;
    right: 1%;
    /* border: solid blue; */
    width: 55%;  
}

.per-scholas-logo::after {
    content: '';
    display: block; 
    width: 0.4rem; 
    height: 0.4rem; 
    background-color: goldenrod;
    aspect-ratio: 1;
    clip-path: polygon(93.38% 74.87%,63.58% 69.79%,
    57.6% 99.42%,42.99% 72.95%,16.1% 86.75%,27.69% 58.83%,
    0.13% 46.41%,29.18% 38.06%,21.71% 8.77%,46.35% 26.28%,
    64.59% 2.18%,66.27% 32.36%,96.49% 31.59%,73.94% 51.72%);
    background-size: cover; 
    position: absolute; 
    bottom: 28%;
    left: 30%; 
    animation: shine 5s ease infinite;
}

.per-scholas-logo::before {
    content: '';
    display: block; 
    width: 1.8rem; 
    height: 1.8rem; 
    background-color: goldenrod;
    aspect-ratio: 1;
    clip-path: polygon(93.38% 74.87%,63.58% 69.79%,
    57.6% 99.42%,42.99% 72.95%,16.1% 86.75%,27.69% 58.83%,
    0.13% 46.41%,29.18% 38.06%,21.71% 8.77%,46.35% 26.28%,
    64.59% 2.18%,66.27% 32.36%,96.49% 31.59%,73.94% 51.72%);
    /* background-image: url('https://i.pinimg.com/originals/68/8e/9e/688e9eb45c2f5cc82361d5c305ccc0ca.gif'); */
    /* background-image: url('https://media3.giphy.com/media/Gok1M91CjzNllPzRkT/giphy.gif?cid=6c09b952x2twaibjz4ahsqk17e44i5306ouljxj8spb3gw9p&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=s'); */
    background-size: cover; 
    position: absolute; 
    top: 22%;
    right: 30%; 
    animation: shine 5s ease infinite;
}
}
/* --------------------------------------end mid---------------- */
/* ---------------------------------------------------------------- */
/* --------------------------------------mobile------------------- */

@media (max-width: 880px) {
    .card-section {
        margin-left: -0.5%;
        width: 98%;
        display: flex; 
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .card {
        font-size: unset;
        border: 1px solid rgba(98, 155, 241, 0.363); 
        border-radius: 1vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 30%;
        height: 21vh;
        margin-inline-start: 3%;
        margin-block-end: 3%;
        gap:3%;
        box-shadow: 0 0.5vw 1vw rgba(128, 128, 128, 0.678);
        background: linear-gradient(to bottom, rgba(168, 170, 221, 0.250) 0%,rgba(168, 170, 221, 0.100) 100%);
    }

    .card-first-child {
    /* border: 1px solid green; */
    font-weight: 600;
    font-size: 120%;
    letter-spacing: 0.1vw;
    width: 90%;
}

    .card-second-child {
        display: unset;
        /* border: 1px solid red; */
        color:gray;
    }

    /* per scholas logo */

.per-scholas-logo {
    position: absolute;
    z-index: -1;
    top:-2%;
    right: 1%;
    /* border: solid blue; */
    width: 65%;
    
}

.per-scholas-logo::after {
    content: '';
    display: block; 
    width: 0.4rem; 
    height: 0.4rem; 
    background-color: goldenrod;
    aspect-ratio: 1;
    clip-path: polygon(93.38% 74.87%,63.58% 69.79%,
    57.6% 99.42%,42.99% 72.95%,16.1% 86.75%,27.69% 58.83%,
    0.13% 46.41%,29.18% 38.06%,21.71% 8.77%,46.35% 26.28%,
    64.59% 2.18%,66.27% 32.36%,96.49% 31.59%,73.94% 51.72%);
    background-size: cover; 
    position: absolute; 
    bottom: 28%;
    left: 30%; 
    animation: shine 5s ease infinite;
}

.per-scholas-logo::before {
    content: '';
    display: block; 
    width: 1.8rem; 
    height: 1.8rem; 
    background-color: goldenrod;
    aspect-ratio: 1;
    clip-path: polygon(93.38% 74.87%,63.58% 69.79%,
    57.6% 99.42%,42.99% 72.95%,16.1% 86.75%,27.69% 58.83%,
    0.13% 46.41%,29.18% 38.06%,21.71% 8.77%,46.35% 26.28%,
    64.59% 2.18%,66.27% 32.36%,96.49% 31.59%,73.94% 51.72%);
    /* background-image: url('https://i.pinimg.com/originals/68/8e/9e/688e9eb45c2f5cc82361d5c305ccc0ca.gif'); */
    /* background-image: url('https://media3.giphy.com/media/Gok1M91CjzNllPzRkT/giphy.gif?cid=6c09b952x2twaibjz4ahsqk17e44i5306ouljxj8spb3gw9p&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=s'); */
    background-size: cover; 
    position: absolute; 
    top: 20%;
    right: 30%; 
    animation: shine 5s ease infinite;
}
}
    

/* --------------------------------------end of mid---------------- */
/* ---------------------------------------------------------------- */
@media (max-width: 680px) {
.card-section {
    margin-left: unset;
    width: 98%;
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    }

.card {
    font-size: unset;
    border: 1px solid rgba(98, 155, 241, 0.363); 
    border-radius: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 28%;
    height: 18vh;
    margin-inline-start: 3%;
    margin-block-end: 3%;
    gap:3%;
    box-shadow: 0 0.5vw 1vw rgba(128, 128, 128, 0.678);
    background: linear-gradient(to bottom, rgba(168, 170, 221, 0.250) 0%,rgba(168, 170, 221, 0.100) 100%);
    }

.card-first-child {
    /* border: 1px solid green; */
    font-weight: 600;
    font-size: 120%;
    letter-spacing: 0.1vw;
    width: 90%;
}

.card-second-child {
     display: unset;
    /* border: 1px solid red; */
     color:gray;
}

/* per scholas logo */
.per-scholas-logo {
    position: absolute;
    z-index: -1;
    top:-2%;
    right: 1%;
    /* border: solid blue; */
    width: 65%;
    
}

.per-scholas-logo::after {
    content: '';
    display: block; 
    width: 0.4rem; 
    height: 0.4rem; 
    background-color: goldenrod;
    aspect-ratio: 1;
    clip-path: polygon(93.38% 74.87%,63.58% 69.79%,
    57.6% 99.42%,42.99% 72.95%,16.1% 86.75%,27.69% 58.83%,
    0.13% 46.41%,29.18% 38.06%,21.71% 8.77%,46.35% 26.28%,
    64.59% 2.18%,66.27% 32.36%,96.49% 31.59%,73.94% 51.72%);
    background-size: cover; 
    position: absolute; 
    bottom: 28%;
    left: 30%; 
    animation: shine 5s ease infinite;
}

.per-scholas-logo::before {
    content: '';
    display: block; 
    width: 1.8rem; 
    height: 1.8rem; 
    background-color: goldenrod;
    aspect-ratio: 1;
    clip-path: polygon(93.38% 74.87%,63.58% 69.79%,
    57.6% 99.42%,42.99% 72.95%,16.1% 86.75%,27.69% 58.83%,
    0.13% 46.41%,29.18% 38.06%,21.71% 8.77%,46.35% 26.28%,
    64.59% 2.18%,66.27% 32.36%,96.49% 31.59%,73.94% 51.72%);
    /* background-image: url('https://i.pinimg.com/originals/68/8e/9e/688e9eb45c2f5cc82361d5c305ccc0ca.gif'); */
    /* background-image: url('https://media3.giphy.com/media/Gok1M91CjzNllPzRkT/giphy.gif?cid=6c09b952x2twaibjz4ahsqk17e44i5306ouljxj8spb3gw9p&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=s'); */
    background-size: cover; 
    position: absolute; 
    top: 28%;
    right: 30%; 
    animation: shine 5s ease infinite;
}
}
/* ---------------------------------------------------------------- */
@media (max-width: 480px) {
    .card-section {
        margin-left: -2%;
        width: 98%;
        display: flex; 
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

.card {
    font-size: unset;
    border: 1px solid rgba(98, 155, 241, 0.363); 
    border-radius: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 41%;
    /* maintain height relative to the width */
    min-height: calc((19 / 41) * 100%);
    margin-inline-start:5%;
    margin-block-end: 5%;
    gap:3%;
    box-shadow: 0 0.5vw 1vw rgba(128, 128, 128, 0.678);
    background: linear-gradient(to bottom, rgba(168, 170, 221, 0.250) 0%,rgba(168, 170, 221, 0.100) 100%);
}

.card-first-child {
    /* border: 1px solid green; */
    font-weight: 600;
    font-size: 110%;
    letter-spacing: 0.1vw;
    width: 90%;
}

.card-second-child {
    display: none;
    /* border: 1px solid red; */
    color:gray;   
 }

/* per scholas logo */
.per-scholas-logo {
    position: absolute;
    z-index: -1;
    top:-3%;
    right: 1%;
    /* border: solid blue; */
    width: 55%;
    
}

.per-scholas-logo::after {
    content: '';
    display: block; 
    width: 0.2rem; 
    height: 0.2rem; 
    background-color: goldenrod;
    aspect-ratio: 1;
    clip-path: polygon(93.38% 74.87%,63.58% 69.79%,
    57.6% 99.42%,42.99% 72.95%,16.1% 86.75%,27.69% 58.83%,
    0.13% 46.41%,29.18% 38.06%,21.71% 8.77%,46.35% 26.28%,
    64.59% 2.18%,66.27% 32.36%,96.49% 31.59%,73.94% 51.72%);
    background-size: cover; 
    position: absolute; 
    bottom: 28%;
    left: 30%; 
    animation: shine 5s ease infinite;
}

.per-scholas-logo::before {
    content: '';
    display: block; 
    width: 1.2rem; 
    height: 1.2rem; 
    background-color: goldenrod;
    aspect-ratio: 1;
    clip-path: polygon(93.38% 74.87%,63.58% 69.79%,
    57.6% 99.42%,42.99% 72.95%,16.1% 86.75%,27.69% 58.83%,
    0.13% 46.41%,29.18% 38.06%,21.71% 8.77%,46.35% 26.28%,
    64.59% 2.18%,66.27% 32.36%,96.49% 31.59%,73.94% 51.72%);
    /* background-image: url('https://i.pinimg.com/originals/68/8e/9e/688e9eb45c2f5cc82361d5c305ccc0ca.gif'); */
    /* background-image: url('https://media3.giphy.com/media/Gok1M91CjzNllPzRkT/giphy.gif?cid=6c09b952x2twaibjz4ahsqk17e44i5306ouljxj8spb3gw9p&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=s'); */
    background-size: cover; 
    position: absolute; 
    top: 9%;
    right: 25%; 
    animation: shine 5s ease infinite;
}
    }
/* --------------------------------------end mobile---------------- */

.card {
    position: relative;
    opacity: 0;
}

.card-image-container {
    /* border: 1px solid black; */
    width: 35%;
    height: 35%;
}

.card-image-container img {
    width: 100%;
    height: 100%;
    /* border: 1px solid orange; */
}

@keyframes shine {
    0%, 20%, 100% {  
        transform: scale(0.5) rotate(0deg); 
        clip-path: polygon(93.38% 74.87%,63.58% 69.79%,
        57.6% 99.42%,42.99% 72.95%,16.1% 86.75%,27.69% 58.83%,
        0.13% 46.41%,29.18% 38.06%,21.71% 8.77%,46.35% 26.28%,
        64.59% 2.18%,66.27% 32.36%,96.49% 31.59%,73.94% 51.72%);
    }

    55% {
        transform: scale(0.7) rotate(45deg);
        clip-path: polygon(93.38% 74.87%,69.8% 78.86%,57.6% 99.42%,39.78% 83.48%,16.1% 86.75%,17.46% 62.88%,0.13% 46.41%,19.64% 32.59%,21.71% 8.77%,44.68% 15.41%,64.59% 2.18%,73.73% 24.27%,96.49% 31.59%,84.91% 52.51%);
}

    }



.per-scholas-logo img {
    /* border: solid red; */
    width: 100%;
    height: 100%;
    object-fit: contain;
}
