@media (min-width: 1280px) {
    .card {
        font-size: unset;
        border: 1px solid rgba(98, 155, 241, 0.363); 
        border-radius: 1vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 22%;
        height: 24.5vh;
        margin-inline-start: 2%;
        margin-block-end: 2.5%;
        gap:3%;
        box-shadow: 0 0.5vw 1vw rgba(128, 128, 128, 0.678);
        background: linear-gradient(to bottom, rgba(168, 170, 221, 0.250) 0%,rgba(168, 170, 221, 0.100) 100%);
    }

    .card-second-child {
        display: unset;
        /* border: 1px solid red; */
        color:gray;
    }
}
/* --------------------------------------end desktop---------------- */
/* ---------------------------------------------------------------- */
/* --------------------------------------mid------------------- */

@media (min-width: 880px) and (max-width: 1280px) {
    .card {
        font-size: 1.7rem;
        border: 1px solid rgba(98, 155, 241, 0.363); 
        border-radius: 1vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 30%;
        height: 20.5vh;
        /* maintain height relative to the width */
        /* min-height: calc((30 / 22) * 100%); */
        margin-inline-start: 2.5%;
        margin-block-end: 3.5%;
        gap:3%;
        box-shadow: 0 0.5vw 1vw rgba(128, 128, 128, 0.678);
        background: linear-gradient(to bottom, rgba(168, 170, 221, 0.250) 0%,rgba(168, 170, 221, 0.100) 100%);
    }

    .card-second-child {
        display: unset;
        /* border: 1px solid red; */
        color:gray;
    }
}
/* --------------------------------------end mid---------------- */
/* ---------------------------------------------------------------- */
/* --------------------------------------mobile------------------- */

@media (max-width: 880px) {
    .card {
        font-size: unset;
        border: 1px solid rgba(98, 155, 241, 0.363); 
        border-radius: 1vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 30%;
        height: 21vh;
        margin-inline-start: 3%;
        margin-block-end: 3%;
        gap:3%;
        box-shadow: 0 0.5vw 1vw rgba(128, 128, 128, 0.678);
        background: linear-gradient(to bottom, rgba(168, 170, 221, 0.250) 0%,rgba(168, 170, 221, 0.100) 100%);
    }

    .card-second-child {
        display: unset;
        /* border: 1px solid red; */
        color:gray;
    }
}
    

/* --------------------------------------end of mid---------------- */
/* ---------------------------------------------------------------- */

@media (max-width: 680px) {
    .card {
        font-size: unset;
        border: 1px solid rgba(98, 155, 241, 0.363); 
        border-radius: 1vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 28%;
        height: 18vh;
        margin-inline-start: 3%;
        margin-block-end: 3%;
        gap:3%;
        box-shadow: 0 0.5vw 1vw rgba(128, 128, 128, 0.678);
        background: linear-gradient(to bottom, rgba(168, 170, 221, 0.250) 0%,rgba(168, 170, 221, 0.100) 100%);
    }

    .card-second-child {
        display: unset;
        /* border: 1px solid red; */
        color:gray;
    }
}
/* ---------------------------------------------------------------- */
@media (max-width: 480px) {
    .card {
        font-size: unset;
        border: 1px solid rgba(98, 155, 241, 0.363); 
        border-radius: 1vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 41%;
        /* maintain height relative to the width */
        min-height: calc((19 / 41) * 100%);
        margin-inline-start:5%;
        margin-block-end: 5%;
        gap:3%;
        box-shadow: 0 0.5vw 1vw rgba(128, 128, 128, 0.678);
        background: linear-gradient(to bottom, rgba(168, 170, 221, 0.250) 0%,rgba(168, 170, 221, 0.100) 100%);
    }

    .card-second-child {
        display: none;
        /* border: 1px solid red; */
        color:gray;
    }
}
/* --------------------------------------end mobile---------------- */

.card-first-child {
    /* border: 1px solid green; */
    font-weight: 600;
    font-size: 120%;
    letter-spacing: 0.1vw;
    width: 90%;
}

.card-section {
    width: 93vw;
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.card-image-container {
    /* border: 1px solid black; */
    width: 35%;
    height: 35%;
}

.card-image-container img {
    width: 100%;
    height: 100%;
    /* border: 1px solid orange; */
}