/* --------------------------------------Nest Hub ------------------- */
@media (width: 1024px) and (height: 600px) {
        .card {
        font-size: 1.3rem;
        border: 1px solid rgba(98, 155, 241, 0.363); 
        border-radius: 1vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 24%;
        height: 32vh;
        /* maintain height relative to the width */
        /* height: calc((50 / 32) * 100%); */
        margin-inline-start: 2.5%;
        margin-block-end: 3.5%;
        gap:3%;
        box-shadow: 0 0.5vw 1vw rgba(128, 128, 128, 0.678);
        background: linear-gradient(to bottom, rgba(168, 170, 221, 0.250) 0%,rgba(168, 170, 221, 0.100) 100%);
    }

    .per-scholas-logo::before {
    content: '';
    display: block; 
    width: 1.8rem; 
    height: 1.8rem; 
    background-color: goldenrod;
    aspect-ratio: 1;
    clip-path: polygon(93.38% 74.87%,63.58% 69.79%,
    57.6% 99.42%,42.99% 72.95%,16.1% 86.75%,27.69% 58.83%,
    0.13% 46.41%,29.18% 38.06%,21.71% 8.77%,46.35% 26.28%,
    64.59% 2.18%,66.27% 32.36%,96.49% 31.59%,73.94% 51.72%);
    /* background-image: url('https://i.pinimg.com/originals/68/8e/9e/688e9eb45c2f5cc82361d5c305ccc0ca.gif'); */
    /* background-image: url('https://media3.giphy.com/media/Gok1M91CjzNllPzRkT/giphy.gif?cid=6c09b952x2twaibjz4ahsqk17e44i5306ouljxj8spb3gw9p&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=s'); */
    background-size: cover; 
    position: absolute; 
    top: 18%;
    right: 30%; 
    animation: shine 5s ease infinite;
}

    .card-first-child {
        /* border: 1px solid green; */
        font-weight: 600;
        font-size: 105%;
        letter-spacing: 0.1vw;
        width: 90%;
    }

    .card-second-child {
        display: unset;
        /* border: 1px solid red; */
        color:gray;
    }
}
/* ---------------------------------end Nest Hub ------------------- */
/* ---------------------------------------------------------------- */
/* ----------------------------------------- Nest Hub Max--------- */
@media (width: 1280px) and (height: 800px) {
        .card {
        font-size: 1.3rem;
        border: 1px solid rgba(98, 155, 241, 0.363); 
        border-radius: 1vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 20%;
        height: 25vh;
        /* maintain height relative to the width */
        /* height: calc((50 / 32) * 100%); */
        margin-inline-start: 2.5%;
        margin-block-end: 3.5%;
        gap:3%;
        box-shadow: 0 0.5vw 1vw rgba(128, 128, 128, 0.678);
        background: linear-gradient(to bottom, rgba(168, 170, 221, 0.250) 0%,rgba(168, 170, 221, 0.100) 100%);
    }

    .per-scholas-logo::before {
    content: '';
    display: block; 
    width: 1.8rem; 
    height: 1.8rem; 
    background-color: goldenrod;
    aspect-ratio: 1;
    clip-path: polygon(93.38% 74.87%,63.58% 69.79%,
    57.6% 99.42%,42.99% 72.95%,16.1% 86.75%,27.69% 58.83%,
    0.13% 46.41%,29.18% 38.06%,21.71% 8.77%,46.35% 26.28%,
    64.59% 2.18%,66.27% 32.36%,96.49% 31.59%,73.94% 51.72%);
    /* background-image: url('https://i.pinimg.com/originals/68/8e/9e/688e9eb45c2f5cc82361d5c305ccc0ca.gif'); */
    /* background-image: url('https://media3.giphy.com/media/Gok1M91CjzNllPzRkT/giphy.gif?cid=6c09b952x2twaibjz4ahsqk17e44i5306ouljxj8spb3gw9p&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=s'); */
    background-size: cover; 
    position: absolute; 
    top: 20%;
    right: 30%; 
    animation: shine 5s ease infinite;
}

    .card-first-child {
        /* border: 1px solid green; */
        font-weight: 600;
        font-size: 120%;
        letter-spacing: 0.1vw;
        width: 90%;
    }

    .card-second-child {
        display: unset;
        /* border: 1px solid red; */
        color:gray;
    }
}
/* --------------------------------------end Nest Hub Max--------- */