.MuiBox-root.MuiList-root {
    display: flex,
     /* alignContent: 'center', justifyContent: 'center' */
}

.nav-container {
    border: 1px solid rgba(28, 9, 194, 0.589);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    width: 100%;
}

.nav-container li {
    list-style-type: none;
    width: 100%;
    justify-content: center;
}

.nav-container li:hover {
    color: #bec1ff;
    letter-spacing: 0.05vw;
}


