/* input background */
.toggle {
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    width: 4.5rem;
    height: 2.5rem;
    background-color: whitesmoke;
    margin: 1rem auto;
    border-radius: 1.4rem;
    transition: background 400ms;
    border: 1px solid gray;
    cursor: pointer;
}

/* slider button */
.toggle::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    background-color: var(--color-dark-rose);
    transition: left 400ms;
    border-radius: 50%;
    height: 1.7rem;
    width: 1.7rem;
}

/* style checked slider background */
.toggle:checked::after {
    background-color: var(--color-rose);
    border: 1px solid var(--color-whitesmoke);
}

/* style checked slider position */
.toggle:checked::after {
    left: 70%;
}