.all-languages-section {
    border: 3px solid rgba(105, 105, 117, 0.39);
    border-radius: 1em;
    background: linear-gradient(90deg, rgba(60, 61, 26, 0.199) 0%, rgba(33, 106, 241, 0.3) 46%, rgba(187,113,90,0.2) 100%);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 77px 12px rgba(255,255,255,0.7);   
    overflow: hidden; 
    position: relative; 
    gap: 2rem;
}

.animateh4 {
    animation: moveh4 1s ease-in-out;
}

@keyframes moveh4 {
    0%, 100% {letter-spacing: unset;}
    55% {letter-spacing: 0.05rem;}
}

/* all languages background */
.background {
    position: absolute;
    z-index: -1; 
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40vh;
    /* border: solid orange; */
    margin-top: -5%;
    padding-bottom: 5%;
}

.empty-hexagon, .language {
    background-color: rgb(201, 194, 228);
    opacity: 0.3;
    width:11rem;
    height: 11rem;
    color: aliceblue;
    font-weight: 600;
    letter-spacing: 0.08rem;
}

.background > div {
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

/* largest circle - most used language */
.background > div:nth-of-type(6) {
    opacity: 1;
    animation: turnBlue 1s linear forwards;
}

@keyframes turnBlue {
    0% {background-color: aliceblue;}
    100%  {background-color: #ae2012;}
}

/* mid sized circle - 2nd most used language */
.background > div:nth-of-type(7) {
    opacity: 1;
    animation: turnGreen 1s linear forwards;
}

@keyframes turnGreen {
    0% {background-color: aliceblue;}
    100%  {background-color: #480ca8;}
}

/* smallest circle - 3d most used language */

.background > div:nth-of-type(8) {
    opacity: 1;
    animation: turnOrange 1s linear forwards;
}

@keyframes turnOrange {
    0% {background-color: aliceblue;}
    100%  {background-color: #0a9396;}
}
