@import "tailwindcss";

:root {
  --color-pale-blue-gradient: linear-gradient(
    45deg,
    rgba(117, 124, 232, 0.2) 0%,
    rgba(117, 124, 232, 0.05) 100%
  );
  --color-blue: rgba(117, 124, 232, 0.6);
  --color-pale-blue: rgba(117, 124, 232, 0.2);
  --color-warm-pair: rgba(255, 200, 160, 0.2);
  --color-dark-slate: #2e37436c;
  --color-scrim: #25395fd7;
  --color-bg-dark: #262535;
  --color-bg-light: #413e70;
  --color-drop-shadow: rgba(39, 41, 40, 0.8);
  --color-dark-rose: #832e6ae5;
  --color-rose: #ce6bb0e5;
  --color-whitesmoke: whitesmoke;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 62.5%;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: rgb(92, 101, 223);
  text-decoration: inherit;
}
a:hover {
  color: #bec1ff;
}

button {
  border-radius: 8px;
  border: 1px solid var(--color-pale-blue);
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-dark-slate);
  cursor: pointer;
  transition: background-color 0.25s ease-in-out;
}
button:hover {
  border-color: #646cff;
  background-color: var(--color-pale-blue);
}
button:active {
  border-color: #2631ff;
}

h1 {
  color: var(--color-whitesmoke);
  font-size: 2.8rem;
  margin: 0.5rem 0rem;
}

h2 {
  font-size: 2.4rem;
  font-weight: 400;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
  color: var(--color-drop-shadow);
}

h4 {
  font-size: 2rem;
  font-weight: 400;
  color: var(--color-drop-shadow);
}

h5 {
  font-size: 2rem;
  font-weight: 400;
  color: var(--color-whitesmoke);
}

/* Theme Palette */

.light {
  background-color: var(--color-bg-light);
}

.dark {
  background-color: var(--color-bg-dark);
}

.pointer {
  cursor: pointer;
}

.zindx-1 {
  z-index: 1;
}

/* Flex box */
.display-flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-space {
  align-items: center;
  justify-content: space-between;
}

.flex-1 {
  flex: 1;
}

.center-column {
  flex-direction: column;
}

.flex-gap-2rem {
  gap: 2rem;
}

.flex-gap-1rem {
  gap: 1rem;
}

.flex-grow-1 {
  flex-grow: 1;
}

/* Widths*/
.full-width {
  width: 100%;
}

.width-80 {
  width: 80%;
}

/* Heights */
.inherit-height {
  height: inherit;
}

.min-height-2rem {
  min-height: 4rem;
}

.height-2rem {
  height: 2rem;
}

/* Paddings */
.pd-05rem {
  padding: 0.5rem;
}

.pd-2rem {
  padding: 2rem;
}

.pd-inline-05rem {
  padding-inline: 0.5rem;
}

.pd-inline-15rem {
  padding-inline: 1.5rem;
}

.pd-inline-2rem {
  padding-inline: 2rem;
}

.pd-block-1rem {
  padding-block: 1rem;
}

.pd-block-2rem {
  padding-block: 2rem;
}

.pd-block-top-1rem {
  padding-block-start: 2rem;
}

.pd-block-end-2rem {
  padding-block-end: 2rem;
}

.pd-block-end-6rem {
  padding-block-end: 6rem;
}

/* Margins */
.margin-block-1rem {
  margin-block: 1rem;
}

.margin-top-2rem {
  margin-top: 2rem;
}

.no-margin-bottom {
  margin-bottom: 0;
}

/* Opacity */
.opacity0-9 {
  opacity: 0.9;
}

/* Text alignment */
.text-left {
  text-align: left;
}

/* Font colors */
.blue-font {
  color: var(--color-blue);
}

/* Font sizes */
.md-font {
  font-size: 1.8rem;
  font-weight: 200;
}

.lg-font {
  font-size: 2rem;
}

/* Borders */
.border-radius-4px {
  border-radius: 4px;
}

.rd-transparent-border {
  border: 1px solid transparent;
  border-radius: 4px;
}

.red-border {
  border: 1px solid red;
}

.green-border {
  border: 1px solid green;
}

.blue-border {
  border: 1px solid var(--color-blue);
}

.drop-shadow {
  filter: drop-shadow(5px 5px 5px var(--color-drop-shadow));
}

/* Boxes */
.inline-pd-box {
  border-radius: 4px;
  padding-inline: 0.5rem;
}

/* Backgrounds */
.bg-hover:hover {
  transition: all 0.5s ease;
  background: var(--color-blue);
  border: 1px solid var(--color-blue);
}

.bg-whitesmoke {
  background-color: whitesmoke;
  color: rgb(28, 25, 46);
  opacity: 0.9;
}

.dark-paper {
  background: var(--color-pale-blue-gradient);
}

.light-paper {
  background: var(--color-pale-blue);
  box-shadow: var(--color-drop-shadow);
  border-radius: 4px;
  border: 1px solid transparent;
}

/* Effects */
.green-box-shadow {
  position: relative;
  transition: border-color 0.4s ease-in-out, transform 0.8s ease-in-out, opacity
    0.8s ease-in-out;
  /* border-top: solid 1px #bec1ff; */
  opacity: 1;
  z-index: 1;
}

.green-box-shadow::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: inherit;
  box-shadow: 1px 1px 10px 5px #80ffc6e1;
  opacity: 0;
  transition: opacity 1.6s ease-in-out, box-shadow 1.2s ease-out;
}

.glow {
  border-bottom: solid 1px #bec1ff;
  position: relative;
  z-index: 1;
}

.glow::before {
  opacity: 0.7;
}

.hover-glow:hover {
  position: relative;
  transition: border-color 0.4s ease-in-out, transform 0.4s ease-in-out;
  /* border-top: solid 1px #bec1ff; */
  border-bottom: solid 1px #bec1ff;
  opacity: 1;
  z-index: 1;
  transform: translateY(-2px); /* subtle upward motion */
}

.hover-glow:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: inherit;
  box-shadow: 1px 1px 10px 5px var(--color-rose);
  opacity: 0.7;
  transition: opacity 400ms ease-in-out;
}
